{% extends "base.html" %}

{% block content %}
<!-- page content -->
    <div class="page-title">
      <div class="title_left">
        <h3>Add <small>Users</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>
          <form action="/userscreate" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
              <label>Status: </label>
              <input class="form-check-input" type="checkbox" id="toggle" name="disabled" checked>
              <label class="form-check-label" for="toggle">On</label>
            </div>
            <div class="form-group">
              <label for="id">First Name</label>  
              <input type="text" class="form-control" name="given_name"></input>
            </div>
              <hr>
            <div class="form-group">
              <label for="clastname">Last Name</label>  
              <input type="text" class="form-control" name="last_name"></input>
            </div>
              <hr>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email"></input>
              </div>  
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" name="phone"></input>
            </div>
            <div class="form-group">
              <label for="phone">Designation</label>
              <input type="text" class="form-control" name="designation"></input>
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <input type="text" class="form-control" name="role"></input>
            </div>
            <br>
              <br>
              <input class="btn btn-sm btn-success" type="submit" value="Add"></input>
          </form>
  {% endblock content %}
      