# flask stuff
flask==3.1.2
flask_cors==6.0.2
flask_babel==4.0.0
Flask-WTF==1.2.2
# Google Stuff
firebase_admin==6.5.0
google-api-python-client==2.167.0
google-cloud-secret-manager==2.23.2
google-auth==2.39.0
google-auth-oauthlib==1.1.0
google-cloud-logging==3.9.0
google-cloud-bigquery==3.18.0
werkzeug==3.1.5
waitress==3.0.2
oauthlib==3.3.1
requests==2.32.5
requests-oauthlib==2.0.0
pyotp==2.9.0
oauth2client==4.1.3
# Okta authentication
# okta-jwt-verifier==1.3.1
# okta-oidc==1.5.0
# library for qrcode
qrcode==8.2
# additional details
pytz==2025.2
BeautifulSoup4==4.14.3
pillow==12.1.0
