{% include "frontheaderwhite.html" %}


<!--hero section start-->

<section class="position-relative">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row  text-center">
      <div class="col">
        <h1>News</h1>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 


<!--body content start-->

<div class="page-content">

<!--blog start-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 mb-6 mb-lg-0">
        <!-- Blog Card -->
        <div class="card border-0 bg-transparent">
          <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ms-3 mt-3">15
            <br>July</div>
          <img class="card-img-top shadow rounded" src="assets/images/blog/01.png" alt="Image">
          <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Sass</a>
            <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">Greenpeace landing Page</a>
              </h2>
            <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
          </div>
          <div class="card-footer bg-transparent border-0 pt-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 131</a>
              </li>
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-eye me-1 text-primary"></i> 255</a>
              </li>
              <li class="list-inline-item"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 14</a>
              </li>
            </ul>
          </div>
          <div></div>
        </div>
        <!-- End Blog Card -->
      </div>
      <div class="col-12 col-lg-4 mb-6 mb-lg-0">
        <!-- Blog Card -->
        <div class="card border-0 bg-transparent">
          <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ms-3 mt-3">15
            <br>July</div>
          <img class="card-img-top shadow rounded" src="assets/images/blog/02.png" alt="Image">
          <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Marketing</a>
            <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">The most powerfull template that make you.</a>
              </h2>
            <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
          </div>
          <div class="card-footer bg-transparent border-0 pt-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 131</a>
              </li>
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-eye me-1 text-primary"></i> 255</a>
              </li>
              <li class="list-inline-item"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 14</a>
              </li>
            </ul>
          </div>
          <div></div>
        </div>
        <!-- End Blog Card -->
      </div>
      <div class="col-12 col-lg-4">
        <!-- Blog Card -->
        <div class="card border-0 bg-transparent">
          <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ms-3 mt-3">15
            <br>July</div>
          <img class="card-img-top shadow rounded" src="assets/images/blog/03.png" alt="Image">
          <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Landing</a>
            <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">A brand for a company is like a reputation person.</a>
              </h2>
            <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
          </div>
          <div class="card-footer bg-transparent border-0 pt-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 131</a>
              </li>
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-eye me-1 text-primary"></i> 255</a>
              </li>
              <li class="list-inline-item"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 14</a>
              </li>
            </ul>
          </div>
          <div></div>
        </div>
        <!-- End Blog Card -->
      </div>
    </div>

    <div class="row mt-8">
      <div class="col-12 col-lg-6 mb-6 mb-lg-0">
        <!-- Blog Card -->
        <div class="card border-0 bg-transparent">
          <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ms-3 mt-3">15
            <br>July</div>
          <img class="card-img-top shadow rounded" src="assets/images/blog/01.png" alt="Image">
          <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Sass</a>
            <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">Greenpeace landing Page</a>
              </h2>
            <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
          </div>
          <div class="card-footer bg-transparent border-0 pt-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 131</a>
              </li>
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-eye me-1 text-primary"></i> 255</a>
              </li>
              <li class="list-inline-item"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 14</a>
              </li>
            </ul>
          </div>
          <div></div>
        </div>
        <!-- End Blog Card -->
      </div>
      <div class="col-12 col-lg-6">
        <!-- Blog Card -->
        <div class="card border-0 bg-transparent">
          <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ms-3 mt-3">15
            <br>July</div>
          <img class="card-img-top shadow rounded" src="assets/images/blog/02.png" alt="Image">
          <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Marketing</a>
            <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">The most powerfull template that make you.</a>
              </h2>
            <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
          </div>
          <div class="card-footer bg-transparent border-0 pt-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 131</a>
              </li>
              <li class="list-inline-item pe-4"> <a href="#" class="text-muted"><i class="ti-eye me-1 text-primary"></i> 255</a>
              </li>
              <li class="list-inline-item"> <a href="#" class="text-muted"><i class="ti-comments me-1 text-primary"></i> 14</a>
              </li>
            </ul>
          </div>
          <div></div>
        </div>
        <!-- End Blog Card -->
      </div>
    </div>

    <div class="row mt-11">
  <div class="col-12">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item me-auto"> <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item"><a class="page-link border-0 rounded text-dark" href="#">1</a>
        </li>
        <li class="page-item active" aria-current="page"> <a class="page-link border-0 rounded" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link border-0 rounded text-dark" href="#">3</a>
        </li>
        <li class="page-item"><a class="page-link border-0 rounded text-dark" href="#">...</a>
        </li>
        <li class="page-item"><a class="page-link border-0 rounded text-dark" href="#">5</a>
        </li>
        <li class="page-item ms-auto"> <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
  </div>
</section>

<!--blog end-->

</div>

<!--body content end--> 


{% include "frontfooter.html" %}
