
{% include "frontheader.html" %}

<!--hero section start-->

<section class="custom-pt-1 custom-pb-2 position-relative bg-primary">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-lg-10">
        <!-- Heading -->
        <h4 class="text-white">Join <span class="typer text-white" data-words="Greenpeace" ></span>
        <span style="font-size:1.2em;vertical-align:middle;" class="cursor" data-cursorDisplay="|" data-owner="some-id"></span></h4>
        <h1 class="display-4 mt-3 font-w-5 text-white">Engage, Connect, Innovate, Join Force<br> for a sustainable future.</h1>
        <!-- Text -->
        <p class="lead text-light">Be part of the solution to climate change and help protect our planet by engaging with the latest Greenpeace advancements.</p>
        <!-- Buttons
        <a href="http://vimeo.com/99025203" class="btn text-white popup-vimeo me-1"> <i class="la la-play-circle me-1 ic-3x align-middle line-h-0"></i> Watch Video</a>
         <a href="#" class="btn btn-dark">Learn More</a>
        -->
      </div>
    </div>
  <div class="shape-1 bottom" style="height: 200px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #060927;"></path>
    </svg>
  </div>
</section>



</div>

<!--body content end--> 


{% include "frontfooter.html" %}
