{% include "frontheaderwhite.html" %}

<!--hero section start-->

<section class="position-relative">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row  text-center">
      <div class="col">
        <h1>MediaLab</h1>
        <p>Greenpeace Medialab focus is to use media and technology to raise awareness, educate, and engage the public on social and environmental issues related to climate change. It aims to provide a space where interdisciplinary teams of experts can work together to create engaging and impactful media content, such as videos, podcasts, and interactive web applications, that help to educate and mobilize the public on climate issues.</p>
        <p>In line with these goals, we have developed a website <a href="https://greenpeace.org" target="_blank">socialclimatetech.news</a> were we use the media tools we have developed to disseminating information about the latest developments in social climate tech.</p>
        <p>The specific objectives of a Medialab may vary, but some common goals include:</p>      
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 


<!--body content start-->

<div class="page-content">

<!--about us start-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">01.</span> Awareness-raising</h5>
        <p>Use media and technology to raise awareness about the social and environmental impacts of climate change and the importance of taking action.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">02.</span> Education</h5>
        <p>Create educational content, such as videos, podcasts, and interactive web applications, that help to educate the public on the science and policy of climate change.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">03.</span> Engagement</h5>
        <p>Engage the public through social media, events, and other interactive activities, to encourage action and support for sustainable solutions to climate change.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">04.</span> Advocacy</h5>
        <p>Use media and technology to advocate for policy and regulatory action on climate change and promote the adoption of sustainable practices.</p>
      </div>
    </div>
  </div>
</section>

<!--about us end-->

<!--open position start-->

<!--open position end-->

</div>

<!--body content end--> 

{% include "frontfooter.html" %}
