{% include "frontheaderwhite.html" %}

<!--hero section start-->

<section class="position-relative">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row  text-center">
      <div class="col">
        <h1>ScienceLab</h1>
        <p></p>Sciencelab focus is on outdoor and indoor air and water pollution, and water scarcity, as main ingredients to life, is to use scientific research and technology to address some of the most pressing environmental and social challenges related to these issues. It aims to provide a space where interdisciplinary teams of experts can collaborate to develop and implement innovative, sustainable, and impactful solutions that improve air and water quality, reduce pollution, and conserve water resources.</p>
        <p>Sciencelab with this focus may include</p>          
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 


<!--body content start-->

<div class="page-content">

<!--about us start-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">01.</span> Research and Development</h5>
        <p>Conduct research to better understand the sources, impacts, and mitigation of air and water pollution and water scarcity, and develop new and innovative technologies to address these challenges.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">02.</span> Monitoring and Surveillance</h5>
        <p>Implement monitoring and surveillance programs to monitor the quality of outdoor and indoor air and water, and detect and respond to environmental hazards.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">03.</span> Remediation</h5>
        <p>Develop and implement effective strategies to remediate contaminated air and water, and to restore degraded ecosystems.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">04.</span> Water Management</h5>
        <p>Develop and promote sustainable water management practices and technologies, to conserve and protect water resources, and to reduce the impacts of water scarcity.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-primary font-w-7">05.</span> Education and Outreach</h5>
        <p>Provide education and outreach programs to raise awareness about air and water pollution, water scarcity, and the importance of sustainable practices to protect public health and the environment.</p>
      </div>
    </div>
  </div>
</section>

<!--about us end-->

<!--open position end-->

</div>

<!--body content end--> 

{% include "frontfooter.html" %}
