{% extends "base.html" %}

{% block content %}

<!-- page content -->
    <div class="page-title">
      <div class="title_left">
        <h3>Get <small>your NRO's signups</small></h3>
      </div>
    </div>


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container-fluid">
            <form action="/signup" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="text" name="name"></input>
                <br>
                <br>
                <input type="submit" value="GET Signups"></input>
            </form>
        </div>
      </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="card" id="output">
                <div class="card-body">
                    {% for e in output %}
                      {{e}}
                    {% endfor %}
                  </div>
            </div>
        </div>
        <hr>

{% endblock content %}
