{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>qrcode <small>list</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="container">
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <hr>
        <!-- Example row of columns -->
        <div class="row">
            <div class="card" id="output">
                <div class="card-body">
                    <a class="btn btn-sm btn-success" href="/qrcodeadd" title="Add" ><i class="glyphicon glyphicon-pencil"></i> Add Qrcode</a>
                    <br />
                    <br />
                      <table id="listdata" class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Active</th>
                            <th scope="col">Image</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Qr code</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th style="width:200px;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if output %}
                            {% for ngo in output %}
                            <tr>
                              <td>
                                {% if ngo.active == True %}
                                  <a class="btn btn-sm btn-success" href="/qrcodeactive?id={{ ngo.docid }}" title="Edit">Active</a>
                                {% else %}
                                  <a class="btn btn-sm btn-danger" href="/qrcodeactive?id={{ ngo.docid }}" title="Edit" >Inactive</a>
                                {% endif %}
                              </td>
                              <td>
                                {% if not ngo.filename or ngo.filename != "None" %}
                                <a href="{{ngo.filenameurl}}">
                                  <img src="{{ngo.filenameurl}}" class="img-fluid shadow-1-strong rounded" alt="{{ngo.qrcodename}}" />
                                </a>
                                {% else %}
                                {%endif %}
                              </td>
                              <td>{{ ngo.date_created }}</td>
                              <td>{{ ngo.qrcode }}</td>
                              <td>{{ ngo.description }}</td>
                              <td>{{ ngo.type }}</td>
                              <td>
                                <a class="btn btn-sm btn-success" href="/qrcodeedit?id={{ ngo.docid }}" title="Edit" ><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="/qrcodedelete?id={{ ngo.docid }}" title="Delete">Delete</a>
                                <a class="btn btn-sm btn-info" href="{{ngo.filenameurl}}" title="Download">Download</a>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}      
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </div>
    {% block scripts %}
      <script>
        $(document).ready(function () {
          $('#listdata').DataTable({
          });
        });
      </script>
    {% endblock scripts %}

    {% include "footertable.html" %}