{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}


<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add <small> Qrcode</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>
    
      <div class="container">
            <form action="/qrcodecreate" method="post">
              <hr>
              <div class="form-group">
                <label for="qrcodename">Qrcode Name`</label>  
                <input class="form-control" name="qrcodename" placeholder="Add a name for the qrcode also the name used is the name of the qrcode img file" required></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="description">Description</label>  
                <input type="text" class="form-control" name="description" placeholder="Add a decription for your qrcode"></input>
              </div>
              <hr>
              <div class="form-group">
                <label for="qrcode">Qr code</label>
                <input type="text" class="form-control" name="qrcode" placeholder="The text, url that goes in your qrcode image" required></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="type">Type</label>
                <select id="type" name="type" class="form-control">
                  <option selected>Select Type</option>
                  <option value="global">Global&nbsp;QRcode</option>
                  <option value="local">Local&nbsp;QRcode</option>
                </select>
              </div>
              <hr>
              <div class="form-group">
                <label for="campaign">Campaign</label>  
                <input type="text" class="form-control" name="campaign" placeholder="If used for a campaign, add the campaign for your qrcode"></input>
              </div>
              <hr>
              <div class="form-group">
                  <label for="description">Version</label>  
                  <input type="text" class="form-control" name="version" placeholder="1 being the smallest and 40 being the largest. Version 1 will create a 21X21 matrix QR Code" required></input>
              </div>
              <hr>
              <div class="form-group">
                <label for="boxsize">Box Size</label>
                <input type="text" class="form-control" name="boxsize"  placeholder="This parameter controls the number of pixels in each box of the QR code" required></input>
              </div>
              <div class="form-group">
                <label for="border">Border Size</label>
                <input type="text" class="form-control" name="border"  placeholder="This parameter controls the thickness of the border. The default border is 4 pixels thick." required></input>
              </div>
              <div class="form-group">
                <label for="fill_color">Fill Coloer</label>
                <input type="text" class="form-control" name="fill_color"  placeholder="Fill Color set the foreground color" required></input>
              </div>
              <div class="form-group">
                <label for="back_color">Back Color</label>
                <input type="text" class="form-control" name="back_color"  placeholder="Back Color set the background color" required></input>
              </div>

              <br>
                <br>
                <input type="submit" class="btn btn-primary" value="Add"></input>
            </form>
            </div>
        <hr>
      </div> <!-- /container -->
    </div>

    {% include "footer.html" %}
    