        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <hr class="mb-8">Copyright 2022 by <u><a class="text-black" href="https://socialclimate.tech" target="_blank">Social Climate Tech</a></u> | All Rights Reserved</div>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Datatables -->
    <script src="{{ url_for('static', filename='/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ url_for('static', filename='js/count.custom.min.js') }}"></script>
	
  </body>
</html>
