
<!--footer start

-->
<footer class="py-11 bg-primary position-relative" data-bg-img="{{ url_for('static', filename='images/bg/03.png') }}">
  <div class="shape-1" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #060927;"></path>
    </svg>
  </div>
  <div class="container mt-11">
    <div class="row">
      <div class="col-12 col-lg-5 col-xl-4 me-auto mb-6 mb-lg-0">
        <div class="subscribe-form bg-warning-soft p-5 rounded">
          <h5 class="mb-4 text-white">Newsletter</h5>
          <h6 class="text-light">Subscribe Our Newsletter</h6>
          <form id="newsletter" class="group" method="post" action="/newsletter">
            <input type="email" value="" name="email" class="email form-control" id="mc-email" placeholder="Email Address" required="" style="height: 60px;">
            <input class="btn btn-outline-light btn-block mt-3 mb-2" type="submit" name="subscribe" value="Subscribe">
          </form> <small class="text-light"></small>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row">
          <div class="col-12 col-sm-4 navbar-dark">
            <h5 class="mb-4 text-white">Contact</h5>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('frontpageblue.contactus') }}">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
            <h5 class="mb-4 text-white">Volunteer</h5>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link"  href="{{ url_for('frontpageblue.techlab') }}">TechLab</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
            <h5 class="mb-4 text-white">Legal</h5>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link" href="{{ url_for('frontpageblue.termsandconditions') }}">Term Of Service</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="{{ url_for('frontpageblue.privacypolicy') }}">Privacy Policy</a>
            </ul>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <a class="footer-logo text-white h2 mb-0" href="{{ url_for('frontpageblue.index') }}">Tech<span class="fw-bold">Camp </span>2023.</a>
          </div>
          <div class="col-12 col-sm-6 mt-6 mt-sm-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-twitter"></i></a></li>
              <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-white text-center mt-8">
      <div class="col">
        <hr class="mb-8">Copyright 2023 by <u><a class="text-white" href="https://techlab.greenpeace.org" target="_blank">Greenpeace</a></u> | All Rights Reserved</div>
    </div>
  </div>
</footer>

<!--footer end-->

</div>

<!-- page wrapper end -->

 
<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="las la-angle-up"></i></a></div>

<!--back-to-top end-->

<!-- inject js start -->

<script src="{{ url_for('static', filename='js/theme-plugin.js') }}"></script>
<script src="{{ url_for('static', filename='js/theme-script.js') }}"></script>

<!-- inject js end -->

</body>

</html>
