
<!--hero section start-->

<section class="position-relative">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row  text-center">
      <div class="col">
        <h1>How to use</h1>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 


<!--body content start-->

<div class="page-content">

<!--privacy start-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>Gracias, Merci, Grazie, Danke, Bedankt, Obrigado / Obrigada, Teşekkürler, Спасибо [Spasiba], 谢谢 [xiè xiè], Korean, Cảm ơn,
        شكرًا, Dzięki, Hvala,Tak, Děkuji vám, Tänan, Kiitos, Σ’ ευχαριστώ!, Mahalo, धन्यवाद [dhun-yuh-vaad], Terima kasih,
        ありがとう, Paldies, Mulţumesc, Shurkan, ขอบคุณ [khawp khun], Salamat sa-LAH-mat, Ďakujem JAH-koo-yehm,
        Takk skal du ha, Toda, Köszönöm, Māori, Takk, Danko, Faʻafetai, Na gode, Adúpẹ́, Daalụ, Rahmat, Grazzi, Diolch,
        Dankie, Thank you</p>
        <p>For downloading our Chrome Extension.</p>
        <h4 class="mt-5 text-primary">How do gp links work?</h4>
        <div class="d-flex align-items-center mb-3">
            <p class="mb-0 ms-3">A gp/ short link is a way for somebody to type a short, memorable link such as gp/mail rather than a hard to remember link into their browser.<p>
             <p>The user's browser uses the chrome extension to resolve the link to greenpeace.org servers. This server then redirects the browser to the full URL.</p>
        </div>
        <div>
          <p>
            <a href="{{ url_for('frontpageblue.index') }}">Add your first Link</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--privacy end-->

</div>
