            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Home</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-desktop"></i>Pixelcounter<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url_for('pixelcounterblue.read') }}">Pixelcounters</a></li>
                      <li><a href="{{ url_for('pixelcounterblue.getsignups') }}">Test NRO Signups</a></li>    
                      <li><a href="{{ url_for('urlshortnerblue.urlshortner') }}">URL Shortner</a></li>   
                      <li><a href="{{ url_for('qrcodeblue.qrcode') }}">QR Code Generator</a></li>                        
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="menu_section">
                  <ul class="nav side-menu">
                    <li><a><i class="fa fa-bug"></i> Settings<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="{{ url_for('pixelcounterblue.allowedlist') }}">Allowed Domain List</a></li>
                        <li><a href="{{ url_for('pixelcounterblue.disallowedlist') }}">Disallowed URL Patterns List</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="menu_section">
                  <ul class="nav side-menu">
                    <li><a><i class="fa fa-edit"></i> Documentation<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="{{ url_for('pixelcounterblue.documentation') }}">Documentation</a></li>    
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /sidebar menu -->
  