{% extends "base.html" %}

{% block content %}

<!-- page content -->
    <div class="page-title">
      <div class="title_left">
        <h3>urlshortner <small>list</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="container">
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <hr>
        <!-- Example row of columns -->
        <div class="row">
            <div class="card" id="output">
                <div class="card-body">
                    <a class="btn btn-sm btn-success" href="/urlshortneradd" title="Add" ><i class="glyphicon glyphicon-pencil"></i> Add URL</a>
                    <br />
                    <br />
                      <table id="listdata" class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Active</th>
                            <th scope="col">Click</th>
                            <th scope="col">Date</th>
                            <th scope="col">URL</th>
                            <th scope="col">Short Name</th>
                            <th scope="col">Type</th>
                            <th style="width:200px;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if output %}
                            {% for ngo in output %}
                            <tr>
                              <td>
                                {% if ngo.active == True %}
                                  <a class="btn btn-sm btn-success" href="/urlshortneractive?id={{ ngo.docid }}" title="Edit">Active</a>
                                {% else %}
                                  <a class="btn btn-sm btn-danger" href="/urlshortneractive?id={{ ngo.docid }}" title="Edit" >Inactive</a>
                                {% endif %}
                              </td>
                              <td>
                                {{ ngo.click }}
                              </td>
                              <td>
                                {{ ngo.date }}
                              </td>
                              <td>
                                <a href="{{ ngo.url }}" target="_blank">
                                  {{ ngo.url }}
                                </a>
                              </td>
                              <td>
                                <a href="https://counter.greenpeace.org/{{ ngo.short }}" target="_blank">
                                  {{ ngo.short }}
                                </a>
                              </td>
                              <td>{{ ngo.type }}</td>
                              <td>
                                <a class="btn btn-sm btn-success" href="/urlshortneredit?id={{ ngo.docid }}" title="Edit" ><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="/urlshortnerdelete?id={{ ngo.docid }}" title="Delete">Delete</a>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}      
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
  {% endblock content %}

    {% block script %}
      <script>
        $(document).ready(function () {
          $('#listdata').DataTable({
          });
        });
      </script>
    {% endblock script %}